services:
  # ==========================================
  # APLICAÇÃO (Seu Dockerfile Customizado)
  # ==========================================
  app:
    container_name: casadf-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5001:5001"
    env_file:
      - .env
    depends_on:
      - postgres-host
    networks:
      - casadf-network
    # Opcional: Persistir logs ou arquivos temporários se necessário
    # volumes:
    #   - ./uploads:/app/uploads 

  # ==========================================
  # BANCO DE DADOS (PostgreSQL)
  # ==========================================
  postgres-host:
    image: postgres:15-alpine
    container_name: casadf-db
    restart: always
    environment:
      POSTGRES_USER: user        # Deve bater com o .env (DATABASE_URL)
      POSTGRES_PASSWORD: password # Deve bater com o .env (DATABASE_URL)
      POSTGRES_DB: casadf
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - casadf-network

volumes:
  postgres_data:

networks:
  casadf-network:
    driver: bridge
